body {
    background-color: #715496;
    color: #5a4279;
    text-align: center;
    font-family: Quicksand, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100%;
    height: auto;
}

#container div {
    padding: 16px;
    width: calc(100% - 32px);
}

#header {
    text-align: right;
}
    #header h1 {
        display:inline-block;
        font-size: 20px;
        margin-right: 16px;
        color: #cecece;
    }
    #header a {
        display: inline-block;
        border: 2px solid #cecece;
        color: #cecece;
        padding: 10px 15px;
        margin: 0 8px 16px 8px;
        border-radius: 21px;
        text-decoration: none;
        transition: background-color 0.2s ease-in-out;
    }
    #header a:hover {
        background-color: #5a4279;
    }
    #header a:focus, #header a:active {
        background-color: transparent;
    }
    #header a.full {
        background-color: #5a4279;
    }
    #header a:last-child {
        margin-right: 0;
        margin-bottom: 0;
    }

#main {
    display: flex;
    align-items: center; 
    flex-grow: 1;
    max-width: 800px;
}

    #main #poem {
        width: 100%;
        font-size: 50px;
        line-height: 50px;
        margin: 25px 0px;
        font-style: italic;
        font-weight: bold;
    }

    #main #poem span {
        display: block;
        margin-bottom: 20px;
        animation: fadein 2s;
    }
    #main #poem span:last-child {
        margin-bottom: 0;
    }

#footer {
    font-weight: bold;
}
    #footer a {
        color: #5a4279;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
    }

    #footer a:hover {
        color: #cecece;
    }

@keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}



  @media screen and (max-width: 600px) {
    #container #header {
        text-align: center;
        order: 2;
        padding: 0 16px;
    }
    #header h1 {
        display: block;
        margin:  0 0 16px 0;
    }
    #header a, #header a:last-child {
        margin: 0 8px 16px 8px;
    }
    #header a:last-child {
        margin-right: 0;
    }
    #header a:first-child {
        margin-left: 0;
    }
    #main {
        order: 1;
    }
    #container #footer {
        order: 3;
        padding-top: 0;
    }
  }